.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--bg-primary-color);
}

.app-title {
  font-size: 20px;
  font-weight: 500;
  color: var(--primary-color);
}

.spacer {
  flex: 1 1 auto;
}
