@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}
// global styles
.app-content {
  padding: 24px;
  background-color: #f5f6fa;
  min-height: calc(100vh - 64px);
}

:root {
  // Base colors
  --bg-primary-color: #3F51B5;
  --secondary-color: #4CAF50;
  --warn-error-color: #F44336;

  --primary-color: #F5F6FA;
  --cards-surface-color: #FFFFFF;
  --text-primary: #2E2E2E;
  --text-secondary: #6B7280;
}
